/* 大窗口内容区域 */
.large-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
}

/* 左侧菜单栏 */
.left-menu {
    position: relative;
    top: 50%;
    width: 20%;
    height: 80%;    
    background-color: #4e0000;
    padding: 0%;
    font-family: Times New Roman;
    transition: background-color 0.3s ease-in-out;
}

.left-menu img.profile-pic {
    position: relative;
    top: -20px;
    width: 80%;
    height:80%;
    margin-bottom:;
}

.left-menu ul {
    list-style: none;
    padding: 0px;
}

.left-menu li {
    margin: 10% 0;
}

.left-btn {
    background: none;
    color: #fff;
    border: none;
    font-size: 2vw;
    font-family: Times New Roman;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.left-btn:hover {
    color: #5a0000;
    background: #ffffff
}

/* 右侧信息栏 */
.right-content {
    position: absolute;
    width: 100%;
    float: left;
    top: 20%;
    padding: ;
    font-family: Times New Roman;
    transition: opacity 0.3s ease-in-out;
}

/* 返回按钮样式 */
.back-button {
    position: relative;
    top: 5%;
    left: -20%;
    padding:;
    font-size: 2vw;
    font-weight: bold;
    background-color: #ffffff00;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: Times New Roman;    
    transition: color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #ffffff00;
    color: #740000;
    transition: color 0.3s ease-in-out;
}
